.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh 10vw;
  gap: 0.5em;
}

.image {
  object-fit: contain;
  width: auto;
  height: auto;
  border-radius: 50px;
}

.imageSecond {
  border-radius: 0px;
  width: auto;
  height: auto;
  margin-bottom: 5vh;
  object-fit: cover;
}

.container h2 {
  font-size: 2em;
  color: var(--darkred-color);
}

.container p {
  font-size: 1.2em;
  color: var(--darkgrey-color);
}

.button {
  background-color: var(--red-color);
  border: none;
  color: white;
  width: 50%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 600;
}

.icon {
  color: var(--red-color);
  font-size: 1em;
}

.checkmarks p {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    margin: 5vh 0;
    flex-direction: row;
    gap: 3em;
    padding: 10vh 15vw;
  }

  .container p {
    font-size: 1em;
  }

  .image {
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 50px;
  }

  .imageSecond {
    width: 100%;
    height: auto;
  }

  .containerSecond {
    flex-direction: row-reverse;
  }

  .button {
    width: 100%;
  }
}

@media screen and (min-width: 1910px) {
  .container {
    flex-direction: row;
    gap: 2em;
    padding: 10vh 15vw;
  }

  .image {
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 50px;
  }

  .imageSecond {
    width: 100%;
    height: auto;
  }

  .containerSecond {
    flex-direction: row-reverse;
  }

  .aboutText {
    width: 50%;
    line-height: 1.5;
  }

  .aboutTextSecond {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
