.container {
    width: auto;
    height: auto;
    background-image: url('/backgrounds/features/feature_01.jpg');
    background-position: 45% 100%;
    background-size: cover;
    padding: 5vh 0;
}

.container,
.body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.body {
    gap: 1em;
    width: 80%;
    background-color: #ffffffe8;
    padding: 2em 1em;
    border-radius: 20px;
}

.body h4 {

    font-size: 2.5em;
    color: var(--darkred-color);
}

.body p {

    font-size: 1.1em;
    font-weight: 500;
    color: var(--darkgrey-color);

    letter-spacing: 1px;

}

.body button {

    display: inline-block;

    width: auto;
    margin: 4px 2px;
    padding: 15px 32px;
    border: none;
    background-color: var(--red-color);

    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;

    cursor: pointer;
}

.icon {
    font-size: 1.2em;
    margin-right: 4vw;
}


@media screen and (min-width: 1024px) {


    .body {
        gap: 1em;
        width: 70%;
        background-color: #ffffffe8;
        padding: 2em 1em;
        border-radius: 20px;
    }

    .body h4 {

       width: 80%;
    }
    
    .body p {
    
        width: 60%;
    
    }

    .icon {
        margin-right: 2vw;
    }
}